template(name='home')
    .ui.stackable.padded.grid
        .eight.wide.column
            .ui.yellow.massive.header change your coins to cash!
        .eight.wide.column
            .ui.rounded.blue.segment
                
            .ui.list
                each latest_posts
                    a.ui.item(href="/post/#{_id}")
                        |#{title}