template(name='home')
    if currentUser
        +user_dashboard
    else 
        +landing_page
    
    
template(name='landing_page')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'footer_logo' width=1000 height=1000 crop='crop'}}")
    .ui.stackable.padded.centered.grid
        .seven.wide.column
            .ui.basic.segment
                .ui.yellow.massive.header(style="color: #feb100;") Change your Coins to Cash!
                .ui.header Do you need cash? Do you have coins just sitting around? 
                .ui.header Here’s an easy way to turn your coins into cash!
                .ui.header Coin Box for Cash is a safe, reliable and secure coin counting service.

                a.ui.rounded.blue.button.fly_right(href="/about")
                    |Learn More
                a.ui.rounded.yellow.button.fly_right(href="/login")
                    |Login or Register
            video(width="100%" controls autoplay)
                source(src="https://res.cloudinary.com/facet/video/upload/v1649476932/CB4C-Animation-Video-1_kch3jg.mp4" type="video/mp4")
    
                
        .seven.wide.column
            .ui.rounded.blue.segment
                .ui.inverted.big.form
                            .two.fields
                                .field
                                    label First Name
                                    .ui.input 
                                        input.first_name(type='text')
                                .field
                                    label Last Name
                                    .ui.input 
                                        input.last_name(type='text')
                                
                            .field
                                label Email
                                    span.ui.red.text *
                                .ui.input 
                                    input(type='text')
                            .field 
                                label Phone Number
                                .ui.input 
                                    input(type='text' placeholder='Phone Number')
                            .two.fields
                                .field 
                                    label Street Address
                                    .ui.input 
                                        input(type='text')
                                .field 
                                    label Suite/Apt #
                                    .ui.input 
                                        input(type='number')
                            .field 
                                label 
                                    i.user.grey.icon
                                    |Username
                                .ui.input 
                                    input.username(type='text')
                            .field 
                                label 
                                    i.lock.grey.icon
                                    |Password
                                .ui.input 
                                    input.password(type='password')
                .ui.small.header Payment Information
                .ui.small.header Preferred Payment Received Method (Select One)
                .ui.center.aligned.basic.segment
                    .ui.massive.yellow.rounded.center.aligned.button.sign_up
                        |Get Cash Now
        .sixteen.wide.column
            +how_it_works
            +why_choose_us
            +testimonials_widget
            
template(name='how_it_works')
    .ui.dividing.center.aligned.header 
        |How it Works
    .ui.massive.center.aligned.blue.header Find out what works, and do more of that
    .ui.stackable.grid 
        .three.column.row
            .column
                .ui.header Step 1
                |Log In or Register and request your free coin mailer!
            .column
                .ui.header Step 2
                |Place and seal your coins in the return mailer and send it to us free of charge!
            .column
                .ui.header Step 3
                |We will pay you the value of your coins
    .ui.center.aligned.basic.segment 
        .ui.big.yellow.rounded.button
            |How to Package
            
            
template(name='why_choose_us')            
    .ui.center.aligned.dividing.header
        |Why Choose Us
    .ui.center.aligned.massive.blue.header
        |Find out why you chose us
    .ui.padded.stackable.grid 
        .two.column.row
            .column
                .ui.header 
                    |Easy
                |No heavy lifting! No hauling jars, bags or bulky containers of coins ever again.
                .ui.header Private
                |No loud, noisy machines involved. No standing in long lines or need to carry money outside the comfort of your home.
            .column
                .ui.header Convenient
                |24 hour, 7 day a week service and customer support. Order and schedule your shipment any time!
                .ui.header Secure
                |Our secure sealed mailer includes a unique tracking and transaction system. Coin Box provides a safe, accurate and protected transport for your coins. Plus all transactions are insured for up to $500 with our CoinBox4Cash Guarantee!



template(name='testimonials_widget')
    .ui.center.aligned.dividing.header 
        |Testimonials
    .ui.center.aligned.massiv.blue.header 
        |What People Say About Us
    each testimonial_docs
        .ui.header #{title}

            
            
                        
template(name='user_dashboard')
    .ui.sixteen.wide.column
        .ui.header 
            +i name='dashboard'
            |user dashboard