template(name='home')
    if currentUser
        +user_dashboard
    else 
        +landing_page
    
    
template(name='landing_page')
    // img.ui.fluid.image.checkin_banner(src="{{c.url 'footer_logo' width=1000 height=1000 crop='crop'}}")
    .bg
        .ui.stackable.centered.grid
            .seven.wide.column
                .ui.basic.segment
                    .ui.yellow_header.header Change your Coins to Cash!
                    .ui.header Do you need cash? Do you have coins just sitting around? 
                    .ui.header Here’s an easy way to turn your coins into cash!
                    .ui.header.home_font
                        span(style="color:#004081;") Coin Box for Cash is a safe, 
                        span(style="color:#0097c7;") reliable and secure 
                        span(style="color:#004081;") coin counting service.
    
                    a.ui.rounded.blue.button.fly_right(href="/about")
                        |Learn More
                    a.ui.test_button.fly_right(href="/login")
                        |Login or Register
                video.rounded.drop_shadow(width="100%" controls autoplay)
                    source(src="https://res.cloudinary.com/facet/video/upload/v1649476932/CB4C-Animation-Video-1_kch3jg.mp4" type="video/mp4")
        
                    
            .seven.wide.column
                +add_user_segment
            .sixteen.wide.column
                +how_it_works
                +why_choose_us
                +testimonials_widget
            
            
template(name='add_user_segment')
    .ui.test.segment
        .ui.inverted.form
            .two.fields
                .field
                    label First Name
                    .ui.icon.input 
                        i.user.icon
                        input.first_name(type='text')
                .field
                    label Last Name
                    .ui.icon.input 
                        i.user.icon
                        input.last_name(type='text')
                
            .field
                label Email
                    span.ui.red.text *
                .ui.icon.input 
                    i.message.icon
                    input(type='text')
            .field 
                label Phone Number
                .ui.icon.input 
                    i.phone.icon
                    input(type='text' placeholder='Phone Number')
            .two.fields
                .field 
                    label Street Address
                    .ui.icon.input 
                        i.marker.icon
                        input(type='text')
                .field 
                    label Suite/Apt #
                    .ui.icon.input 
                        i.marker.icon
                        input(type='number')
            .field 
                label 
                    i.user.grey.icon
                    |Username
                .ui.icon.input 
                    i.user.icon
                    input.username(type='text')
            // .field 
            //     label 
            //         i.lock.grey.icon
            //         |Password
            //     .ui.icon.input 
            //         i.lock.icon
            //         input.password(type='password')
            .ui.small.inverted.header 
                i.money.icon
                |Payment Information
            .ui.small.inverted.header Preferred Payment Received Method (Select One)
            .ui.divided.grid 
                .two.column.row
                    .column
                        .ui.small.yellow.header 
                            |Mobile Payment Services
                        +home_payment_button icon='apple-pay' label='Apple Pay'
                        +home_payment_button icon='paypal' label='Paypal'
                        +home_payment_button icon='venmo' label='Venmo'
                        +home_payment_button icon='cash-app' label='Cash App'
                    .column
                        .ui.small.yellow.header 
                            |Mailed Payment Services
                        +home_payment_button label='Company Check'
                        
            .ui.center.aligned.basic.segment
                .ui.massive.yellow.rounded.center.aligned.button.sign_up
                    |Get Cash Now


template(name='home_payment_button')
    .ui.basic.button.select_payment(class=paybutton_class)
        +i name=icon
        |#{label}
            
            
template(name='how_it_works')
    .ui.dividing.center.aligned.header 
        |How it Works
    .ui.massive.center.aligned.blue.header Find out what works, and do more of that
    .ui.stackable.grid 
        .three.column.row
            .center.aligned.column
                img(src="https://asimbalochtech.com/tundaasega/wp-content/uploads/2022/03/Step1HomePage-Copy.png")
                .ui.header Step 1
                |Log In or Register and request your free coin mailer!
            .center.aligned.column
                img(src="https://asimbalochtech.com/tundaasega/wp-content/uploads/2022/03/Step2HomePage.png")
                .ui.header Step 2
                |Place and seal your coins in the return mailer and send it to us free of charge!
            .center.aligned.column
                img(src="https://asimbalochtech.com/tundaasega/wp-content/uploads/2022/03/Step3HomePage.png")
                .ui.header Step 3
                |We will pay you the value of your coins
    .ui.center.aligned.basic.segment 
        .ui.big.yellow.rounded.button
            |How to Package
            
            
template(name='why_choose_us')            
    .ui.center.aligned.dividing.header
        |Why Choose Us
    .ui.center.aligned.massive.blue.header
        |Find out why you chose us
    .ui.padded.stackable.grid 
        .two.column.row
            .column
                .ui.header 
                    |Easy
                |No heavy lifting! No hauling jars, bags or bulky containers of coins ever again.
                .ui.header Private
                |No loud, noisy machines involved. No standing in long lines or need to carry money outside the comfort of your home.
            .column
                .ui.header Convenient
                |24 hour, 7 day a week service and customer support. Order and schedule your shipment any time!
                .ui.header Secure
                |Our secure sealed mailer includes a unique tracking and transaction system. Coin Box provides a safe, accurate and protected transport for your coins. Plus all transactions are insured for up to $500 with our CoinBox4Cash Guarantee!



template(name='testimonials_widget')
    .ui.center.aligned.dividing.header 
        |Testimonials
    .ui.center.aligned.massiv.blue.header 
        |What People Say About Us
    each testimonial_docs
        .ui.header #{title}

            
            
                        
template(name='user_dashboard')
    .ui.sixteen.wide.column
        .ui.header 
            +i name='dashboard'
            |user dashboard
            
            