template(name='home')
    if currentUser
        +user_dashboard
    else 
        +landing_page
    
    
template(name='landing_page')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'footer_logo' width=1000 height=1000 crop='crop'}}")
    .ui.stackable.padded.centered.grid
        .seven.wide.column
            .ui.basic.segment
                .ui.yellow.massive.header(style="color: #feb100;") Change your Coins to Cash!
                .ui.header Do you need cash? Do you have coins just sitting around? 
                .ui.header Here’s an easy way to turn your coins into cash!
                .ui.header Coin Box for Cash is a safe, reliable and secure coin counting service.

                a.ui.rounded.blue.button.fly_right(href="/about")
                    |Learn More
                a.ui.rounded.yellow.button.fly_right(href="/login")
                    |Login or Register
            video(width="100%" controls autoplay)
                source(src="https://res.cloudinary.com/facet/video/upload/v1649476932/CB4C-Animation-Video-1_kch3jg.mp4" type="video/mp4")
    
                
        .seven.wide.column
            .ui.rounded.blue.segment
                .ui.stackable.grid 
                    .sixteen.wide.column 
                        .ui.inverted.big.form
                            .two.fields
                                .field
                                    label First Name
                                    .ui.input 
                                        input.first_name(type='text')
                                .field
                                    label Last Name
                                    .ui.input 
                                        input.last_name(type='text')
                                
                            .field
                                label Email
                                    span.ui.red.text *
                                .ui.input 
                                    input(type='text')
                            .field 
                                label Phone Number
                                .ui.input 
                                    input(type='text' placeholder='Phone Number')
                            .two.fields
                                .field 
                                    label Street Address
                                    .ui.input 
                                        input(type='text')
                                .field 
                                    label Suite/Apt #
                                    .ui.input 
                                        input(type='number')
                            .field 
                                label 
                                    i.user.grey.icon
                                    |Username
                                .ui.input 
                                    input.username(type='text')
                            .field 
                                label 
                                    i.lock.grey.icon
                                    |Password
                                .ui.input 
                                    input.password(type='password')
                    .sixteen.wide.column 
                        .ui.small.header Payment Information
                        .ui.small.header Preferred Payment Received Method (Select One)
                    .ui.center.aligned.basic.segment
                        .ui.massive.yellow.rounded.center.aligned.button.sign_up
                            |Get Cash Now
            .ui.list
                each latest_posts
                    a.ui.item(href="/post/#{_id}")
                        |#{title}
                        
                        
template(name='user_dashboard')
    .ui.sixteen.wide.column
        .ui.header 
            +i name='dashboard'
            |user dashboard