template(name='get_started')
    +page key='get_started'
    
template(name='about')
    +page key='about'

template(name='contact')
    .ui.header contact us
    +page key='contact'


template(name='page')
    .ui.hidden.divider
    .ui.container
        with page_doc 
            |!{content}
            if currentUser 
                a.ui.button(href="/post/#{_id}/edit")
                    i.large.pencil.icon
        else 
            .ui.button.create_doc
                i.shield.icon
                |create '#{key}' page doc