template(name='faqs')
    .ui.padded.grid
        .sixteen.wide.column
            .ui.header faqs
            .ui.header got questions?
            .ui.header we can help!
            .ui.input
                input(type='text')
        