template(name='get_started')
    +page key='get_started'
    
template(name='about')
    +page key='about'
    .ui.center.aligned.blue.massive.header CoinBoxforCash.com is a web-based consumer service company providing coin deposit counting services to consumer and commercial clients.

template(name='contact')
    .ui.header contact us
    +page key='contact'


template(name='page')
    .ui.hidden.divider
    .ui.container
        with page_doc 
            |!{content}
            if currentUser 
                a.ui.icon.button(href="/post/#{_id}/edit")
                    i.large.pencil.icon
                    |edit (admin)
        else 
            .ui.button.create_doc
                i.shield.icon
                |create '#{key}' page doc